<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>229768659082-19hn9mb8bb3c191lrnv0evajc0ovkh43.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.229768659082-19hn9mb8bb3c191lrnv0evajc0ovkh43</string>
	<key>API_KEY</key>
	<string>AIzaSyA36pHKC71NRiFE2h8FgteqLK6oktdIRoY</string>
	<key>GCM_SENDER_ID</key>
	<string>229768659082</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.spaceApp</string>
	<key>PROJECT_ID</key>
	<string>jyrispaceapp</string>
	<key>STORAGE_BUCKET</key>
	<string>jyrispaceapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:229768659082:ios:d94cca0642cf11779fed73</string>
</dict>
</plist>